body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
	background-color: #ff7;
	border-radius: 15px;
	border: 0;
	width: 1350px;
	height: 150px;
	font-family: 'Oxygen', sans-serif;


}
#logo-img{
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 300px;
	height: 145px;
	margin: 10px 15px 10px 0;
	float: left;
	font-family: 'Oxygen', sans-serif;
}


.nav-brand {
	padding-top: 25px;
}
.navbar-brand h1 {
	font-family: 'Lora',serif;
	color: #557c3e;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 10;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	color: darkblue;
	text-transform: uppercase;
	font-size: .9em;
	margin-top: 6px;
}
.navbar-brand p span {
	vertical-align: middle;
}